doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")

    - var pageTitle = title ?  `${title} | NateEagle.com` : "NateEagle.com: A blog about code and cocktails."
    title= pageTitle
    meta(property="og:title" content=pageTitle)

    - var description = description ? description : "Ye olde cocktail and code blogge."
    meta(name="description" content=description)
    meta(name="og:description" content=description)

    link(rel='stylesheet', href='/styles/main.css')
    link(rel="alternate" type="application/atom+xml" href="/atom.xml" title="NateEagle.com Atom feed")

    link(rel="icon" type="image/png" href="/images/favicon-16.png")
  body
    header
      h1
        if link === '/'
          b nate
          b eagle
          b .com
        else
          a(href='/')
            b nate
            b eagle
            b .com
    
    if link === '/'
      section.hero
        .introduction
          .typer
            .prompt
              .directory
                | ~/repos/n3
              .git
                | git:(
                .branch
                  | main
                | )
              
            .text(data-content="Hi! I'm a web developer & amateur cocktailer living in Washington, DC.")
            .text(data-content="More [about me](/about.html).", data-speed="100") 
          script(src="/scripts/typer.js" type="module")



    section.content
      block content

    footer
      .container
        .copyright
          b.copy &copy;
          | #{new Date().getFullYear()}
          =" "
          a(href=`mailto:${author.email}`)= author.name

        ul.links 
          li: a(href='/about.html') About
          li: a(href='/colophon.html') Colophon
          li: a(href='/atom.xml') Feed

    script(src="/scripts/main.js" type="text/javascript")
