extends layout.pug

block content
	if title && !recipe
		h1= title

	.info
		time= date.format('MMMM D, YYYY')
		if tags
			ul.tags
				each tag in tags
					li: a(href=`/tag/${tag}/`)= tag

	if recipe
		section.recipe
			h2= recipe.title
			ul.ingredients
				for ingredient in recipe.ingredients
					if typeof(ingredient) === 'string'
						li
							b.quantity
							b
								b.unit
								b.ingredient= ingredient
					else
						li
							if ingredient.quantity
								b.quantity= ingredient.quantity
								=' '
							b
								if ingredient.unit
									b.unit= ingredient.unit
									=' '
								if ingredient.name
									b.ingredient= ingredient.name

			if recipe.directions
				p.directions= recipe.directions


	section!= body

	script(src="https://cdn.jsdelivr.net/npm/showdown@2.1.0/dist/showdown.min.js")

	a.home(href="/") Home

	.comments
		h3 Comments 

		if comments && comments.length 
			for comment in comments
				.comment
					.comment-header
						.comment-name= comment.attributes.name
						if comment.attributes.date
							time.comment-date= comment.attributes.date.format('MMMM D, YYYY h:mm a')
					.comment-body!= comment.body

		.new-comment 
			form(action="/.netlify/functions/comment" method="POST") 
				input(type="hidden" name="postSlug" value=titleSlug)
				label(for="name")
					b Name
					input(type="text" name="name" id="name")
				label(for="email")
					b Email
					input(type="email" name="email" id="email" value="n.eagle@gmail.com")
				label(for="website")
					b Website
					input(type="text" name="website" id="website")
				label(for="text")
					b Comment
					.comment-text
						textarea(name="text" id="text")
				p.comment-text-help You can use Markdown for formatting.

				button(type="submit") Submit
