extends layout.pug

block content
	if title && !recipe
		h1= title

	.info
		time= date.format('MMMM D, YYYY')
		if tags
			ul.tags
				each tag in tags
					li: a(href=`/tag/${tag}/`)= tag

	if recipe
		section.recipe
			h2= recipe.title
			ul.ingredients
				for ingredient in recipe.ingredients
					if typeof(ingredient) === 'string'
						li
							b.quantity
							b
								b.unit
								b.ingredient= ingredient
					else
						li
							if ingredient.quantity
								b.quantity= ingredient.quantity
								=' '
							b
								if ingredient.unit
									b.unit= ingredient.unit
									=' '
								if ingredient.name
									b.ingredient= ingredient.name

			if recipe.directions
				p.directions= recipe.directions


	section!= body

	a.home(href="/") Home
