extends layout.pug

block content
	if title && !recipe
		h1= title

	if recipe
		section.recipe
			h2= recipe.title
			ul
				for ingredient in recipe.ingredients
					li= ingredient
			if recipe.directions
				p.directions= recipe.directions


	section!= body

	a.home(href="/") Home
